# IPL Data Preprocessing

In [1]:
#import necessary libraries
import pandas as pd
import json

### (1) Match Summary

In [2]:
with open('match_35_json/match_results.json') as f:
    data = json.load(f)

df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head(10)

          team1 team2 winner     margin        ground     matchDate scorecard
0            DC   SRH    SRH    67 runs         Delhi  Apr 20, 2024  Twenty20
1           LSG   CSK    LSG  8 wickets       Lucknow  Apr 19, 2024  Twenty20
2  Punjab Kings    MI     MI     9 runs     Mullanpur  Apr 18, 2024  Twenty20
3            GT    DC     DC  6 wickets     Ahmedabad  Apr 17, 2024  Twenty20
4           KKR    RR     RR  2 wickets  Eden Gardens  Apr 16, 2024  Twenty20
5           RCB   SRH    SRH    25 runs     Bengaluru  Apr 15, 2024  Twenty20
6            MI   CSK    CSK    20 runs      Wankhede  Apr 14, 2024  Twenty20
7           KKR   LSG    KKR  8 wickets  Eden Gardens  Apr 14, 2024  Twenty20
8  Punjab Kings    RR     RR  3 wickets     Mullanpur  Apr 13, 2024  Twenty20
9           LSG    DC     DC  6 wickets       Lucknow  Apr 12, 2024  Twenty20

In [3]:
df_match.shape

(35, 7)

In [4]:
# Replacing the team name Punjab Kings with PBKS because in scorecard it is represented as PBKS

df_match['team1'] = df_match['team1'].replace('Punjab Kings', 'PBKS')
df_match['team2'] = df_match['team2'].replace('Punjab Kings', 'PBKS')
df_match['winner'] = df_match['winner'].replace('Punjab Kings', 'PBKS')
df_match.head(10)

  team1 team2 winner     margin        ground     matchDate scorecard
0    DC   SRH    SRH    67 runs         Delhi  Apr 20, 2024  Twenty20
1   LSG   CSK    LSG  8 wickets       Lucknow  Apr 19, 2024  Twenty20
2  PBKS    MI     MI     9 runs     Mullanpur  Apr 18, 2024  Twenty20
3    GT    DC     DC  6 wickets     Ahmedabad  Apr 17, 2024  Twenty20
4   KKR    RR     RR  2 wickets  Eden Gardens  Apr 16, 2024  Twenty20
5   RCB   SRH    SRH    25 runs     Bengaluru  Apr 15, 2024  Twenty20
6    MI   CSK    CSK    20 runs      Wankhede  Apr 14, 2024  Twenty20
7   KKR   LSG    KKR  8 wickets  Eden Gardens  Apr 14, 2024  Twenty20
8  PBKS    RR     RR  3 wickets     Mullanpur  Apr 13, 2024  Twenty20
9   LSG    DC     DC  6 wickets       Lucknow  Apr 12, 2024  Twenty20

#### Use scorecard as a match id to link with other tables

In [5]:
df_match.rename({'scorecard': 'match_number'}, axis = 1, inplace = True)

# Creating a list of values in descending order starting from last match number 
replacement_values = list(range(35, 35 - len(df_match), -1))

# Applying the replacement
df_match['match_number'] = df_match['match_number'].apply(lambda x: replacement_values.pop(0))

df_match.head()

  team1 team2 winner     margin        ground     matchDate  match_number
0    DC   SRH    SRH    67 runs         Delhi  Apr 20, 2024            35
1   LSG   CSK    LSG  8 wickets       Lucknow  Apr 19, 2024            34
2  PBKS    MI     MI     9 runs     Mullanpur  Apr 18, 2024            33
3    GT    DC     DC  6 wickets     Ahmedabad  Apr 17, 2024            32
4   KKR    RR     RR  2 wickets  Eden Gardens  Apr 16, 2024            31

In [8]:
# For establishing a connection between scorecard, batting summary and bowling summary.
# Till match number-35, no team has played with same team again that's why we are using the below method.

match_number_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_number_dict[key1] = row['match_number']
    match_number_dict[key2] = row['match_number']

match_number_dict

{'DC Vs SRH': 35,
 'SRH Vs DC': 35,
 'LSG Vs CSK': 34,
 'CSK Vs LSG': 34,
 'PBKS Vs MI': 33,
 'MI Vs PBKS': 33,
 'GT Vs DC': 32,
 'DC Vs GT': 32,
 'KKR Vs RR': 31,
 'RR Vs KKR': 31,
 'RCB Vs SRH': 30,
 'SRH Vs RCB': 30,
 'MI Vs CSK': 29,
 'CSK Vs MI': 29,
 'KKR Vs LSG': 28,
 'LSG Vs KKR': 28,
 'PBKS Vs RR': 27,
 'RR Vs PBKS': 27,
 'LSG Vs DC': 26,
 'DC Vs LSG': 26,
 'MI Vs RCB': 25,
 'RCB Vs MI': 25,
 'RR Vs GT': 24,
 'GT Vs RR': 24,
 'PBKS Vs SRH': 23,
 'SRH Vs PBKS': 23,
 'CSK Vs KKR': 22,
 'KKR Vs CSK': 22,
 'LSG Vs GT': 21,
 'GT Vs LSG': 21,
 'MI Vs DC': 20,
 'DC Vs MI': 20,
 'RR Vs RCB': 19,
 'RCB Vs RR': 19,
 'SRH Vs CSK': 18,
 'CSK Vs SRH': 18,
 'GT Vs PBKS': 17,
 'PBKS Vs GT': 17,
 'DC Vs KKR': 16,
 'KKR Vs DC': 16,
 'RCB Vs LSG': 15,
 'LSG Vs RCB': 15,
 'MI Vs RR': 14,
 'RR Vs MI': 14,
 'DC Vs CSK': 13,
 'CSK Vs DC': 13,
 'GT Vs SRH': 12,
 'SRH Vs GT': 12,
 'LSG Vs PBKS': 11,
 'PBKS Vs LSG': 11,
 'RCB Vs KKR': 10,
 'KKR Vs RCB': 10,
 'RR Vs DC': 9,
 'DC Vs RR': 9,
 'SRH Vs MI': 8,
 'MI Vs SRH': 8,
 'CSK Vs GT': 7,
 'GT Vs CSK': 7,
 'RCB Vs PBKS': 6,
 'PBKS Vs RCB': 6,
 'GT Vs MI': 5,
 'MI Vs GT': 5,
 'RR Vs LSG': 4,
 'LSG Vs RR': 4,
 'KKR Vs SRH': 3,
 'SRH Vs KKR': 3,
 'PBKS Vs DC': 2,
 'DC Vs PBKS': 2,
 'CSK Vs RCB': 1,
 'RCB Vs CSK': 1}

In [9]:
df_match.to_csv('match_35_csv/match_summary.csv', index = False)

### (2) Batting Summary

In [10]:
with open('match_35_json/batting_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
        
df_batting = pd.DataFrame(all_records)
df_batting.tail(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,dismissal
540,LSG Vs RCB,RCB,2,Faf du Plessis(c),19,13,3,0,146.15,run out (Padikkal)
541,LSG Vs RCB,RCB,3,Rajat Patidar,29,21,2,2,138.09,c Padikkal b Yadav
542,LSG Vs RCB,RCB,4,Glenn Maxwell,0,2,0,0,0.00,c Pooran b Yadav
543,LSG Vs RCB,RCB,5,Cameron Green,9,9,1,0,100.00,b Yadav
544,LSG Vs RCB,RCB,6,Anuj Rawatâ€,11,21,0,0,52.38,c Padikkal b Stoinis
545,LSG Vs RCB,RCB,7,Mahipal Lomror,33,13,3,3,253.84,c Pooran b Yash Thakur
546,LSG Vs RCB,RCB,8,Dinesh Karthik,4,8,0,0,50.00,c â€ Rahul b Naveen-ul-Haq
547,LSG Vs RCB,RCB,9,Mayank Dagar,0,1,0,0,0.00,run out (Pooran)
548,LSG Vs RCB,RCB,10,Reece Topley,3,6,0,0,50.00,NaN
549,LSG Vs RCB,RCB,11,Mohammed Siraj,12,8,0,2,150.00,c Pooran b Naveen-ul-Haq

In [11]:
# Define a function to determine out/not_out
def out_not_out(x):
    if isinstance(x, str) and len(x) > 0:
        return "out"
    else:
        return "not_out"

# Replace NaN values with empty string in 'dismissal' column
df_batting['dismissal'] = df_batting['dismissal'].fillna('')

In [12]:
df_batting['out/not_out'] = df_batting.dismissal.apply(out_not_out)
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,dismissal,out/not_out
0,RCB Vs KKR,RCB,1,Virat Kohli,83,59,4,4,140.67,,not_out
1,RCB Vs KKR,RCB,2,Faf du Plessis(c),8,6,0,1,133.33,c Starc b Harshit Rana,out
2,RCB Vs KKR,RCB,3,Cameron Green,33,21,4,2,157.14,b Russell,out
3,RCB Vs KKR,RCB,4,Glenn Maxwell,28,19,3,1,147.36,c Singh b Narine,out
4,RCB Vs KKR,RCB,5,Rajat Patidar,3,4,0,0,75.00,c Singh b Russell,out
5,RCB Vs KKR,RCB,6,Anuj Rawatâ€,3,3,0,0,100.00,c â€ Salt b Harshit Rana,out
6,RCB Vs KKR,RCB,7,Dinesh Karthik,20,8,0,3,250.00,run out (â€ Salt),out
7,RCB Vs KKR,KKR,1,Phil Saltâ€,30,20,2,2,150.00,c Green b Vyshak,out
8,RCB Vs KKR,KKR,2,Sunil Narine,47,22,2,5,213.63,b Dagar,out
9,RCB Vs KKR,KKR,3,Venkatesh Iyer,50,30,3,4,166.66,c Kohli b Yash Dayal,out

In [13]:
# Dropping the dismissal column
df_batting.drop(columns=["dismissal"], inplace=True)
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,RCB Vs KKR,RCB,1,Virat Kohli,83,59,4,4,140.67,not_out
1,RCB Vs KKR,RCB,2,Faf du Plessis(c),8,6,0,1,133.33,out
2,RCB Vs KKR,RCB,3,Cameron Green,33,21,4,2,157.14,out
3,RCB Vs KKR,RCB,4,Glenn Maxwell,28,19,3,1,147.36,out
4,RCB Vs KKR,RCB,5,Rajat Patidar,3,4,0,0,75.00,out
5,RCB Vs KKR,RCB,6,Anuj Rawatâ€,3,3,0,0,100.00,out
6,RCB Vs KKR,RCB,7,Dinesh Karthik,20,8,0,3,250.00,out
7,RCB Vs KKR,KKR,1,Phil Saltâ€,30,20,2,2,150.00,out
8,RCB Vs KKR,KKR,2,Sunil Narine,47,22,2,5,213.63,out
9,RCB Vs KKR,KKR,3,Venkatesh Iyer,50,30,3,4,166.66,out

### Cleanup weird characters

In [14]:
def remove_characters(x):
    return x.replace('â€', '').replace('\xa0', '')

In [15]:
# Apply the function to remove unwanted characters
df_batting['batsmanName'] = df_batting['batsmanName'].apply(remove_characters)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,RCB Vs KKR,RCB,1,Virat Kohli,83,59,4,4,140.67,not_out
1,RCB Vs KKR,RCB,2,Faf du Plessis(c),8,6,0,1,133.33,out
2,RCB Vs KKR,RCB,3,Cameron Green,33,21,4,2,157.14,out
3,RCB Vs KKR,RCB,4,Glenn Maxwell,28,19,3,1,147.36,out
4,RCB Vs KKR,RCB,5,Rajat Patidar,3,4,0,0,75.00,out

In [16]:
df_batting.tail(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
540,LSG Vs RCB,RCB,2,Faf du Plessis(c),19,13,3,0,146.15,out
541,LSG Vs RCB,RCB,3,Rajat Patidar,29,21,2,2,138.09,out
542,LSG Vs RCB,RCB,4,Glenn Maxwell,0,2,0,0,0.00,out
543,LSG Vs RCB,RCB,5,Cameron Green,9,9,1,0,100.00,out
544,LSG Vs RCB,RCB,6,Anuj Rawat,11,21,0,0,52.38,out
545,LSG Vs RCB,RCB,7,Mahipal Lomror,33,13,3,3,253.84,out
546,LSG Vs RCB,RCB,8,Dinesh Karthik,4,8,0,0,50.00,out
547,LSG Vs RCB,RCB,9,Mayank Dagar,0,1,0,0,0.00,out
548,LSG Vs RCB,RCB,10,Reece Topley,3,6,0,0,50.00,not_out
549,LSG Vs RCB,RCB,11,Mohammed Siraj,12,8,0,2,150.00,out

In [17]:
df_batting.shape

(550, 10)

In [18]:
df_batting['match_number'] = df_batting['match'].map(match_number_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_number
0,RCB Vs KKR,RCB,1,Virat Kohli,83,59,4,4,140.67,not_out,10
1,RCB Vs KKR,RCB,2,Faf du Plessis(c),8,6,0,1,133.33,out,10
2,RCB Vs KKR,RCB,3,Cameron Green,33,21,4,2,157.14,out,10
3,RCB Vs KKR,RCB,4,Glenn Maxwell,28,19,3,1,147.36,out,10
4,RCB Vs KKR,RCB,5,Rajat Patidar,3,4,0,0,75.00,out,10

In [19]:
df_batting.to_csv('match_35_csv/batting_summary.csv', index = False)

### (3) Bowling Summary

In [20]:
with open('match_35_json/bowling_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
        
df_bowling = pd.DataFrame(all_records)
df_bowling.head(10)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,SRH Vs DC,DC,Khaleel Ahmed,3,0,51,0,17.00,4,4,5,0,0
1,SRH Vs DC,DC,Lalit Yadav,2,0,41,0,20.50,2,2,5,0,0
2,SRH Vs DC,DC,Anrich Nortje,3,0,31,0,10.33,6,4,1,1,0
3,SRH Vs DC,DC,Kuldeep Yadav,4,0,55,4,13.75,8,0,7,2,0
4,SRH Vs DC,DC,Mukesh Kumar,4,0,57,1,14.25,4,7,3,0,0
5,SRH Vs DC,DC,Axar Patel,4,0,29,1,7.25,4,1,1,0,0
6,SRH Vs DC,SRH,Washington Sundar,2,0,46,1,23.00,2,7,3,0,0
7,SRH Vs DC,SRH,Bhuvneshwar Kumar,4,0,33,1,8.25,10,5,0,3,0
8,SRH Vs DC,SRH,Pat Cummins,4,0,35,0,8.75,9,5,1,0,0
9,SRH Vs DC,SRH,T Natarajan,4,1,19,4,4.75,14,2,0,1,0

In [21]:
df_bowling.shape

(418, 13)

In [22]:
df_bowling['match_number'] = df_bowling['match'].map(match_number_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_number
0,SRH Vs DC,DC,Khaleel Ahmed,3,0,51,0,17.00,4,4,5,0,0,35
1,SRH Vs DC,DC,Lalit Yadav,2,0,41,0,20.50,2,2,5,0,0,35
2,SRH Vs DC,DC,Anrich Nortje,3,0,31,0,10.33,6,4,1,1,0,35
3,SRH Vs DC,DC,Kuldeep Yadav,4,0,55,4,13.75,8,0,7,2,0,35
4,SRH Vs DC,DC,Mukesh Kumar,4,0,57,1,14.25,4,7,3,0,0,35

In [23]:
df_bowling.to_csv('match_35_csv/bowling_summary.csv', index = False)

### (4) Player Information

In [24]:
with open('match_35_json/player_details.json') as f:
    data = json.load(f)
    
df_players = pd.DataFrame(data)
df_players['country'] = 'IND'
df_players.head(10)

,name,team,battingStyle,playingRole,input,bowlingStyle,description,country
0,Wriddhiman Sahaâ€,GT,Right hand Bat,Wicketkeeper Batter,{},NaN,NaN,IND
1,Trent Boult,RR,Right hand Bat,Bowler,{},Left arm Fast medium,Rated as one half of the best new-ball pair in...,IND
2,T Natarajan,SRH,Left hand Bat,Bowler,{},Left arm Medium,NaN,IND
3,Anukul Roy,KKR,Left hand Bat,Allrounder,{},Slow Left arm Orthodox,NaN,IND
4,Mayank Yadav,LSG,Right hand Bat,Bowler,{},Right arm Fast,"An express bowler from Delhi, Mayank Yadav had...",IND
5,Ajinkya Rahane,CSK,Right hand Bat,Top order Batter,{},Right arm Medium,While he might not turn heads like many of his...,IND
6,Shikhar Dhawan(c),PBKS,Left hand Bat,Opening Batter,{},Right arm Offbreak,NaN,IND
7,Axar Patel,DC,Left hand Bat,Bowling Allrounder,{},Slow Left arm Orthodox,Axar Patel IPL factfile,IND
8,Atharva Taide,PBKS,Left hand Bat,Batting Allrounder,{},Slow Left arm Orthodox,NaN,IND
9,Ricky Bhui,DC,Right hand Bat,Top order Batter,{},Legbreak Googly,Ricky Bhui began his career with seven 30-plus...,IND

In [25]:
df_players['bowlingStyle'] = df_players['bowlingStyle'].fillna('')

In [26]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))

In [27]:
df_players.head(10)

,name,team,battingStyle,playingRole,input,bowlingStyle,description,country
0,Wriddhiman Saha,GT,Right hand Bat,Wicketkeeper Batter,{},,NaN,IND
1,Trent Boult,RR,Right hand Bat,Bowler,{},Left arm Fast medium,Rated as one half of the best new-ball pair in...,IND
2,T Natarajan,SRH,Left hand Bat,Bowler,{},Left arm Medium,NaN,IND
3,Anukul Roy,KKR,Left hand Bat,Allrounder,{},Slow Left arm Orthodox,NaN,IND
4,Mayank Yadav,LSG,Right hand Bat,Bowler,{},Right arm Fast,"An express bowler from Delhi, Mayank Yadav had...",IND
5,Ajinkya Rahane,CSK,Right hand Bat,Top order Batter,{},Right arm Medium,While he might not turn heads like many of his...,IND
6,Shikhar Dhawan(c),PBKS,Left hand Bat,Opening Batter,{},Right arm Offbreak,NaN,IND
7,Axar Patel,DC,Left hand Bat,Bowling Allrounder,{},Slow Left arm Orthodox,Axar Patel IPL factfile,IND
8,Atharva Taide,PBKS,Left hand Bat,Batting Allrounder,{},Slow Left arm Orthodox,NaN,IND
9,Ricky Bhui,DC,Right hand Bat,Top order Batter,{},Legbreak Googly,Ricky Bhui began his career with seven 30-plus...,IND

In [28]:
df_players.shape

(185, 8)

In [29]:
# This can be used to know how many different players are being used by each team till now.
df_players[df_players['team'] == 'CSK'].count()

name            16
team            16
battingStyle    16
playingRole     16
input           16
bowlingStyle    16
description      4
country         16
dtype: int64

In [30]:
team_names = ['CSK', 'MI', 'RCB', 'KKR', 'DC', 'SRH', 'RR', 'PBKS', 'GT', 'LSG']

# Dictionary to store counts for each team
team_counts = {}

for team in team_names:
    # Count the occurrences of players for the current team
    count = df_players[df_players['team'] == team].team.count()
    # Store the count in the dictionary
    team_counts[team] = count

# Display the counts for each team
for team, count in team_counts.items():
    print(f"{team} : {count}")

CSK : 16
MI : 19
RCB : 22
KKR : 15
DC : 20
SRH : 18
RR : 17
PBKS : 18
GT : 20
LSG : 20

In [31]:
# reverse is used for ascending or descending order
sorted_team_counts = sorted(team_counts.items(), key=lambda item: item[1], reverse=False)

for team, count in sorted_team_counts:
    print(f"{team}: {count}")

KKR: 15
CSK: 16
RR: 17
SRH: 18
PBKS: 18
MI: 19
DC: 20
GT: 20
LSG: 20
RCB: 22

In [32]:
foreign_players = ['Devon Conway', 'Moeen Ali', 'Mitchell Santner', 'Daryl Mitchell', 'Rachin Ravindra', 
                   'Maheesh Theekshana', 'Matheesha Pathirana', 'Mustafizur Rahman', 
                   'David Warner', 'Shai Hope', 'Tristan Stubbs', 'Mitchell Marsh', 'Anrich Nortje', 'Jake Fraser-McGurk', 
                   'Jhye Richardson', 'Lizaad Williams', 
                   'Matthew Wade', 'Rashid Khan', 'Noor Ahmad', 'Spencer Johnson', 'Kane Williamson','David Miller', 
                   'Joshua Little', 'Azmatullah Omarzai'
                   'Travis Head', 'Pat Cummins', 'Heinrich Klaasen', 'Aiden Markram', 'Glenn Phillips', 'Marco Jansen',
                   'Fazalhaq Farooqi'
                   'Faf du Plessis', 'Tom Curran', 'Cameron Green', 'Will Jacks', 'Glenn Maxwell', 'Lockie Ferguson',
                   'Alzarri Joseph', 'Reece Topley'
                   'Rahmanullah Gurbaz', 'Phil Salt', 'Sherfane Rutherford', 'Sunil Narine', 'Andre Russell', 
                   'Mitchell Starc', 'AM Ghazanfar', 'Dushmantha Chameera'
                   'Quinton de Kock', 'Ashton Turner', 'Nicholas Pooran', 'Kyle Mayers', 'Marcus Stoinis', 'Naveen-ul-Haq'
                   'Shamar Joseph', 'Matt Henry'
                   'Tim David', 'Dewald Brevis', 'Mohammad Nabi', 'Romario Shepherd', 'Gerald Coetzee', 'Kwena Maphaka',
                   'Luke Wood', 'Nuwan Thushara',
                   'Jonny Bairstow', 'Rilee Rossouw', 'Sam Curran', 'Liam Livingstone', 'Sikandar Raza', 'Chris Woakes',
                   'Kagiso Rabada', 'Nathan Ellis', 
                   'Jos Buttler', 'Tom Kohler-Cadmore', 'Rovman Powell', 'Shimron Hetmyer', 'Donovan Ferreira', 
                   'Trent Boult', 'Nandre Burger', 'Keshav Maharaj']


df_players.loc[df_players['name'].isin(foreign_players), 'country'] = 'FRN'

In [33]:
df_players.head(32) #Some error are there due to '	' this symbol. We can eliminate this in Power BI Desktop.
# you can check for Quinton De Kock and Azmatullah Omarzai	 Because they were impact players at a point of time in game.

,name,team,battingStyle,playingRole,input,bowlingStyle,description,country
0,Wriddhiman Saha,GT,Right hand Bat,Wicketkeeper Batter,{},,NaN,IND
1,Trent Boult,RR,Right hand Bat,Bowler,{},Left arm Fast medium,Rated as one half of the best new-ball pair in...,FRN
2,T Natarajan,SRH,Left hand Bat,Bowler,{},Left arm Medium,NaN,IND
3,Anukul Roy,KKR,Left hand Bat,Allrounder,{},Slow Left arm Orthodox,NaN,IND
4,Mayank Yadav,LSG,Right hand Bat,Bowler,{},Right arm Fast,"An express bowler from Delhi, Mayank Yadav had...",IND
5,Ajinkya Rahane,CSK,Right hand Bat,Top order Batter,{},Right arm Medium,While he might not turn heads like many of his...,IND
6,Shikhar Dhawan(c),PBKS,Left hand Bat,Opening Batter,{},Right arm Offbreak,NaN,IND
7,Axar Patel,DC,Left hand Bat,Bowling Allrounder,{},Slow Left arm Orthodox,Axar Patel IPL factfile,IND
8,Atharva Taide,PBKS,Left hand Bat,Batting Allrounder,{},Slow Left arm Orthodox,NaN,IND
9,Ricky Bhui,DC,Right hand Bat,Top order Batter,{},Legbreak Googly,Ricky Bhui began his career with seven 30-plus...,IND
10,MS Dhoni,CSK,Right hand Bat,Wicketkeeper Batter,{},Right arm Medium,NaN,IND
11,Vaibhav Arora,KKR,Right hand Bat,Bowler,{},Right arm Fast medium,NaN,IND
12,Mohammed Siraj,RCB,Right hand Bat,Bowler,{},Right arm Fast,Mohammed Siraj's rise as a seamer was remarkab...,IND
13,Anuj Rawat,RCB,Left hand Bat,Wicketkeeper Batter,{},,NaN,IND
14,Shubman Gill(c),GT,Right hand Bat,Opening Batter,{},Right arm Offbreak,NaN,IND
15,Jitesh Sharma,PBKS,Right hand Bat,Wicketkeeper Batter,{},,NaN,IND
16,Abhinav Manohar,GT,Right hand Bat,Batting Allrounder,{},Legbreak Googly,NaN,IND
17,Tushar Deshpande,CSK,Left hand Bat,Bowler,{},Right arm Medium,NaN,IND
18,Dhruv Jurel,RR,Right hand Bat,Wicketkeeper Batter,{},,NaN,IND
19,Azmatullah Omarzai,GT,Right hand Bat,Allrounder,{},Right arm Medium fast,NaN,IND
20,Prithvi Shaw,DC,Right hand Bat,Opening Batter,{},Right arm Offbreak,NaN,IND
21,Rohit Sharma,MI,Right hand Bat,Top order Batter,{},Right arm Offbreak,NaN,IND
22,Virat Kohli,RCB,Right hand Bat,Top order Batter,{},Right arm Medium,NaN,IND
23,Umesh Yadav,GT,Right hand Bat,Bowler,{},Right arm Fast,Less than two seasons after fast bowler Umesh ...,IND
24,Rahul Chahar,PBKS,Right hand Bat,Bowler,{},Legbreak Googly,Legspinner Rahul Chahar was a key member of Mu...,IND
25,Nandre Burger,RR,Left hand Bat,Bowler,{},Left arm Fast medium,NaN,FRN
26,Gerald Coetzee,MI,Right hand Bat,Bowler,{},Right arm Fast,NaN,FRN
27,David Miller,GT,Left hand Bat,Middle order Batter,{},Right arm Offbreak,NaN,FRN
28,Saurav Chauhan,RCB,Left hand Bat,Top order Batter,{},Right arm Offbreak,NaN,IND
29,Sunil Narine,KKR,Left hand Bat,Bowling Allrounder,{},Right arm Offbreak,NaN,FRN
30,Rashid Khan,GT,Right hand Bat,Bowling Allrounder,{},Legbreak Googly,NaN,FRN
31,Yash Thakur,LSG,Right hand Bat,Bowler,{},Right arm Fast medium,NaN,IND

In [34]:
df_players.to_csv('match_35_csv/players_no_images.csv', index = False)